body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
.flex{
    display: flex;
    margin-bottom: 20px;
}
h1{
    font-size: 55px;
}
.color{
    color: rgb(255, 176, 31);
}
.first-step{
    width: 50%;
    padding: 5%;
}
.first-step img{
    width: 100%;
}
p{
    text-align: justify;
    font-weight: 100;
}
a{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(19, 178, 218));
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 900;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-1{
    width: 50%;
    padding: 5%;
}
.top-1 img{
    width: 100%;
}
.container{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-area{
    display: flex;
}
.last-step{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 10px 10px 40px chocolate;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.orange{
    color: orange;
}
.size{
    font-size: 45px;
}
.last-text{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#border-2{
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

